@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'Vazir';
  src: url('./fonts/Vazirmatn-Regular.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  background: var(--background);
  height: 100%;
  color: var(--foreground);
  font-family: "Vazir",Arial, Helvetica, sans-serif;
}
