@import "tailwindcss";

@tailwind utilities;

:root {
  --background: #fdf7f1;
  --foreground: #171717;
}

@layer utilities {
  .animate-spinSlow {
    animation: spinSlow 20s linear infinite;
  }

  @keyframes spinSlow {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  /* 👇 Add float animation and delay */
  .animate-float {
    animation: float 1s ease-in-out infinite;
  }

  .animate-delay-1s {
    animation-delay: 1s;
  }

  @keyframes float {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-6px);
    }
  }
}

@font-face {
  font-family: 'Vazir';
  src: url('./fonts/Vazirmatn-Regular.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  background: var(--background);
  height: 100%;
  color: var(--foreground);
  font-family: "Vazir", Arial, Helvetica, sans-serif;
  overflow-x: hidden !important;
}

.swiper-button-next {
  display: none !important;
}

.custom-prev {
  position: absolute;
  bottom: 100px;
  left: 0;
  z-index: 50;
  cursor: pointer;
}

.swiper-button-prev::after {
  display: none !important;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.7s ease-in-out;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
}


@media(min-width: 768px) {
  .full-screen-height {
    height: calc(100dvh - 120px);
  }
}